* {
  font-family: "SF Compact Rounded", serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.__block:hover {
  outline: 2px solid red;
  @apply rounded;
}

.builder {
  .form-group {
    @apply block text-sm text-gray-300 mb-4;

    &.inline {
      > div {
        display: flex;
        gap: 1em;
      }

      input {
        width: fit-content;
        margin-top: 0;
      }

      span {
        display: block;
        margin-top: 8px;
      }
    }

    &.error {
      span {
        @apply block text-red-600 mt-2;
      }

      input,
      textarea,
      select {
        @apply border-red-600;
      }
    }
  }

  input,
  textarea,
  select {
    margin-top: 8px;
    @apply w-full px-4 py-2 text-gray-300 bg-neutral-800 border-solid border border-gray-600 focus:outline-blue-500 rounded;
  }

  textarea {
    resize: vertical;
  }

  ::file-selector-button {
    @apply bg-gray-700 border-none text-xs text-gray-300 px-2 py-1 rounded cursor-pointer;
  }
}
